@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  --bright-blue2: hsl(245, 65%, 60%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  font-family: "Red Hat Display", sans-serif;
}

h1 {
  min-height: fit-content;
  font-size: 2rem;
  margin: 2.5rem 0 1.2rem 0;
  font-weight: 900;
  width: auto;
}
h2 {
  font-weight: 600;
  color: var(--desaturated-blue);
}

img {
  width: 48px;
  height: 48px;
}

.div {
  width: 200px;
}

body {
  display: flex;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  background-color: var(--pale-blue);
  height: 100vh;
  align-items: center;
  background-image: url("/images/pattern-background-desktop.svg");
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  background-clip: padding-box;
}

.flex {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1.3rem;
  align-items: center;
}

.change-link {
  color: var(--bright-blue);
  font-size: 0.9rem;
  font-weight: 900;
}

.change-link:hover {
  text-decoration: none;
  color: var(--bright-blue2);
}
.change {
  display: flex;
  background-color: var(--very-pale-blue);
  align-items: center;
  justify-content: space-around;
  width: 80%;
  flex-direction: row;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  margin-top: 1.3rem;
  margin-bottom: 2rem;
}

.inner {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
  height: 700px;
  border-radius: 12px;

  align-items: center;
  justify-content: flex-start;
  width: 450px;
}

p {
  text-align: center;
  line-height: 1.4rem;
  font-family: "Red Hat Display";
}

#annual {
  font-weight: 900;
  font-size: 1.05rem;
}

#price {
  color: var(--desaturated-blue);
  margin-top: 0.3rem;
  font-size: 1rem;
}
#no {
  background-color: transparent;
  color: var(--desaturated-blue);
}

#no:hover {
  color: black;
  font-weight: 900;
}

#yes {
  background-color: var(--bright-blue);
  color: #fff;
  border-radius: 10px;
  margin-bottom: 0.75rem;

  box-shadow: 0 16px 25px hsl(245, 75%, 82%);
}

#yes:hover {
  background-color: var(--bright-blue2);
}

.text {
  color: var(--desaturated-blue);
  font-size: 1.05rem;
  width: 362px;
}

#change {
  padding: 0;
  font-size: 1.05rem;
  width: auto;
}
button {
  padding: 1rem 2rem;
  width: 75%;
  font-weight: 700;
  text-align: center;
  border: none;
  background-color: transparent;
  font-family: "Red Hat Display", sans-serif;
  font-size: 0.9rem;
}

button:hover {
  cursor: pointer;
}

.hero {
  height: 220px;
  width: 100%;
  overflow: hidden;
  align-self: flex-start;
  border-radius: 12px 12px 0 0;
  background-image: url("./images/illustration-hero.svg");
}

@media (max-width: 375px) {
  .flex {
  }
  h1 {
    font-size: 1.7rem;
  }
  #yes {
    width: 85%;
  }
  #p {
    width: 85%;

    font-size: 0.95rem;
  }

  #no {
    width: 85%;
  }
  .change {
    width: 85%;
    padding-right: 0.1rem;
  }
  .inner {
    width: 90%;
    height: auto;
  }
  .hero {
    background-size: contain;

    background-repeat: no-repeat;
  }
  .container {
    background-image: url("./images/pattern-background-mobile.svg");
  }
}
